@using Blog.Domain.Enums;
@using Blog.Service.DTOs;
@{
}

@model CommentRequest

<div>
    @if (User.Identity is not null)
    {
        if (User.Identity.Name == ViewBag.Article.User.Name || User.IsInRole(RoleType.Admin.ToString()))
        {
            <a asp-controller="Home" asp-action="EditArticle" asp-route-id="@ViewBag.Article.ID" class="btn btn-warning mt-3">
                Update
            </a>
            <a asp-controller="Home" asp-action="RemoveArticle" asp-route-id="@ViewBag.Article.ID" class="btn btn-danger mt-3">
                Delete
            </a>
        }
    }

    <p>@ViewBag.Article.Name</p>
    <p>@ViewBag.Article.Content</p>
    <p>
        <button class="btn btn-primary"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseExample"
                aria-expanded="false"
                aria-controls="collapseExample">
            Comments
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            @*WHAT???*@
            @if (User.Identity is not null)
            {
                <form method="post" asp-controller="Comment" asp-action="CreateComment" asp-route-articleId="@ViewBag.Article.ID">
                    <label asp-for="Content" class="form-label">@Html.LabelFor(x => x.Content)</label>
                    <textarea asp-for="Content" class="form-control"></textarea>
                    <input type="submit" value="Comment" class="btn btn-primary mt-3" />
                </form>
            }

            <ul>
                @foreach (var comment in ViewBag.Article.Comments)
                {
                    <li>
                        <p>@comment.User.Name</p>
                        <br>
                        <p>@comment.Content</p>

                        @if (User.Identity is not null)
                        {
                            if (User.Identity.Name == ViewBag.Article.User.Name || User.IsInRole(RoleType.Admin.ToString()))
                            {
                                <a asp-controller="Comment" asp-action="EditComment" asp-route-id="@comment.ID" class="btn btn-warning mt-3">
                                    Update
                                </a>
                                <a asp-controller="Comment" asp-action="RemoveComment" asp-route-id="@comment.ID" class="btn btn-danger mt-3">
                                    Delete
                                </a>                                
                            }
                        }
                    </li>
                }
            </ul>

        </div>
    </div>

</div>